* {
	margin: 0;
	padding: 0;
}
body{
	background: url(../images/bg_body.png) repeat-x;
	border-top: 5px solid #0FA8E7
}
#header{
	width: 960px;
	height: 100px
	margin: 0 auto 0 auto;
	background:#ddd;
	

}
#logo, #slogan, #language, #contact_info {
	margin-top: 20px;
	float: left;
}
#logo{

}
#slogan, #language, #contact_info {
	margin-left: 20px;
	}
